package ${package.Mapper.substring(44)};

import ${package.Entity.substring(43)}.${entity};
import ${superMapperClassPackage};

/**
 * <p>
  * ${table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}