package ${package.ServiceImpl.substring(44)};

import ${package.Entity.substring(43)}.${entity};
import ${package.Mapper.substring(44)}.${table.mapperName};
import ${package.Service.substring(46)}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * <p>
 * ${table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {
	
}
